<nav class="navbar flex-column sticky-left bg-light shadow mb-4" aria-orientation="vertical" id="sidebar">
    <%= link_to "About Me", "#about-me", id: "nav-button"%>
    <%= link_to "My Experience", "#my-experience", id: "nav-button" %>
</nav>

