<nav class="navbar navbar-expand-lg sticky-top bg-light shadow mb-4" id="navigation">
    <div class="container-fluid">
        <h1 class="navbar-brand">Omer Hyajneh</h1>
                <button class="mx-1 btn-lg" onclick="goToIndex()" id="nav-button1">Home</button>
                <button class="mx-1" onclick="goToProjects()" id="nav-button2">My Projects</button>
                <button class="me-auto mx-1" onclick="goToContact()" id="nav-button3">Contact Me</button>
    </div>
</nav>

<script type="text/javascript" charset="utf-8">
    function goToIndex() {
        window.location.href = "index";
    }
    function goToProjects() {
        window.location.href = "/home/projects";
    }

    function goToContact() {
        window.location.href = "/home/contact";
    }
</script>


