<nav class="navbar navbar-expand-lg sticky-top bg-light shadow mb-4">
    <div class="container-fluid">
        <a class="navbar-brand">Omer Hyajneh</a>
        <div class="navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li><a class="nav-link btn-lg btn-light mx-1 " href="index">Home</a></li>
                <li><a class="nav-link btn-lg btn-light mx-2" href="/home/projects">My Projects</a></li>
                <li><a class="nav-link btn-lg btn-light mx-1" href="/home/contact">Contact Me</a></li>
            </ul>
        </div>
    </div>
</nav>