<h1>Contact Me</h1><br>
 <%= mail_to 'mailto:hyajneh.1@buckeyemail.osu.edu','Student Email', class: 'contact'%>
  <br>
  <br>
  <%= mail_to 'mailto:omerhyajneh@gmail.com','Professional Email', class: 'contact'%>
  <br>
  <br>
  <p class="contact" style="font-size: 20px">
    Discord: R.E.M.O.#0001 <br>
    <br>
    <%= link_to 'LinkedIn', 'https://www.linkedin.com/in/omer-hyajneh-019360240/', class: "contact" %>
  </p>


