<h1>Contact Me</h1><br>

  <a id="email" href="mailto:hyajneh.1@buckeyemail.osu.edu">Student Email</a>
  <br>
  <br>
  <a id="email" href="mailto:omerhyajneh@gmail.com">Professional Email</a>
  <br>
  <br>
  <p style="font-size: 20px">Discord: R.E.M.O.#0001</p>


