<h1>About Me</h1>
<p>Welcome to my webpage! My name is Omer Hyajneh. I'm a student studying Computer Science Engineering at the Ohio State University.
   I'm specializing in software engineering while practicing other fields in my free time, such as web development and
   iOS development.
</p>