<h1>About Me</h1>
<p>
  <span>Welcome to my webpage! My name is Omer Hyajneh. I'm a student studying Computer Science Engineering at the Ohio State University.
   I'm specializing in software engineering while practicing other fields in my free time, such as web development and
   iOS development.</span>
</p>

<h1 style="margin-top: 50px">My Experience</h1>
<p>
  <span>
  </span>
</p>